<!DOCTYPE html>  
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->  
<head>  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>On/Off led arduino</title>
</head>  
<body>  
  <script src="bower_components/socket.io-client/socket.io.js"></script>
  <script src="bower_components/angular/angular.js"></script>  
  <script src="bower_components/angular-socket-io/socket.js"></script>

    <h1 align="center">{{"Led controller"}}</h1>
  <div align="center" ng-controller="ArduController">
    <button ng-click="ledOn()" style="background-color:#33ff33;">On</button>
    <button ng-click="ledOff()" style="background-color:rgb(255, 26, 26);">Off</button>
  
    <p id="temp_status"></p>
    <p id="led_status"></p>
   
  </div>

<script type="text/javascript"> 

var socket=io.connect('http://localhost:3000', {'forceNew': true});   //va a enviar el mensaje connection al servidor
    socket.on('messages', function(data){ //cuando reciba el evento messages, imprima por consola los datos
        console.log(data);
        document.getElementById("temp_status").innerHTML=data;
        });

    var app = angular.module('myApp', ['btford.socket-io']).
    factory('mySocket', function (socketFactory) {
        return socketFactory();
    }).
    controller('ArduController', function ($scope,mySocket) {

        $scope.ledOn = function () {

            mySocket.emit('led:on');
            console.log('LED ON');

           document.getElementById("led_status").innerHTML= "El led está encendido.";
        };


        $scope.ledOff = function () {

            mySocket.emit('led:off');
            console.log('LED OFF');  

           document.getElementById("led_status").innerHTML= "El led está apagado.";
         };    
        
        
});


</script>  
</body>

